# Node environment: production / development
NODE_ENV=development

# Port
PORT=3001
REDIRECT_PORT=3001

POSTGRESQL_URI=postgresql://user:Password12@localhost/near-cms
DB_USER='user'
DB_HOST='db'
DB_NAME='near-cms'
DB_PASSWORD='Password12'
DB_PORT=5432

# JWT
JWT_SECRET=ffb2ae53c613f950ccf2f27dbc185b07
JWT_LIFETIME=86400000
