// Styles
@import './_variables.scss';

@import './background.scss';
@import './bootstrap-grid-correct.scss';
@import './border.scss';
@import './buttons.scss';
@import './form-control.scss';
@import './glowing-button.scss';
@import './image.scss';
@import './main.scss';
@import './shine-effect.scss';
@import './switch.scss';
@import './table.scss';
@import './text.scss';
