// Styles
@import './_variables.scss';


@import './arrow-animation.scss';
@import './background.scss';
@import './bootstrap-grid-correct.scss';
@import './border.scss';
@import './buttons.scss';
@import './form-control.scss';
@import './Hero-parallax.scss';
@import './Hero-slider-text.scss';
@import './glowing-button.scss';
@import './image.scss';
@import './main.scss';
@import './shine-effect.scss';
@import './Skewed-slider.scss';
@import './switch.scss';
@import './table.scss';
@import './text.scss';
