/* Custom backgrounds and colors */
.bg-black {
  background: #0d0d0d;
}

.bg-theme {
  background-color: var(--bg-theme) !important;
}

.bg-theme-1 {
  background-color: var(--bg-theme-1) !important;
}

.bg-theme-hover:hover {
  background-color: var(--bg-theme-2) !important;
}

.bg-shadow {
  background: #000000c0;
}

.bg-custom-dark {
  background: $main-color-dark;
}
