/* Custom border gradient */
.border-custom-left {
  height: 2px;
  background: linear-gradient(to right, transparent, $main-color);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.border-custom-right {
  height: 2px;
  background: linear-gradient(to left, transparent, $main-color);
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.border-custom {
  border-color: $main-color !important;
}

.shadow-custom {
  box-shadow: 0 0 3rem #000000bd !important;
}

.border-theme {
  border-color: var(--border-theme) !important;
}
