.btn {
   outline: none !important;
   -webkit-box-shadow: none !important;
           box-shadow: none !important;
   -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
       -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
           transition: all .3s ease;
}

.btn:focus {
   outline: none !important;
   -webkit-box-shadow: none !important;
           box-shadow: none !important;
}

/* Correct Bootstrap buttons */
.dropdown-nav-icon-right {
   transform: rotate(0deg);
   -webkit-transition: transform .3s ease;
      -moz-transition: transform .3s ease;
       -ms-transition: transform .3s ease;
        -o-transition: transform .3s ease;
           transition: transform .3s ease;
      
}

.right-rotate .show .dropdown-nav-icon-right {
   transform: rotate(90deg);
}

.collapse-nav-icon-right {
   -webkit-transition: transform .3s ease;
      -moz-transition: transform .3s ease;
       -ms-transition: transform .3s ease;
        -o-transition: transform .3s ease;
           transition: transform .3s ease;
   transform: rotate(0deg);
}

.right-rotate:not(.collapsed) .collapse-nav-icon-right {
   transform: rotate(90deg);
}

/* Manu button */
.btn-menu {
   z-index: 10;
   width: 60px;
   height: 40px;
   cursor: pointer;
   box-shadow: none;
   outline: none !important;
}

.btn-menu span {
   width: 80%;
   height: 2px;
   margin: 0 auto;
   display: block;
   background: #eee;
   -webkit-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
      -moz-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
       -ms-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        -o-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
           transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

.btn-menu span:first-of-type {
   transform: rotate(45deg) translate(2px, 2px);
}

.btn-menu span:nth-of-type(2) {
   transform: translateX(-20px);
   opacity: 0;
}

.btn-menu span:last-of-type {
   transform: rotate(-45deg) translate(1px, -1px);
}

.btn-menu.collapsed span {
   transform: none;
   opacity: 1;
   margin: 5px auto;
}

/* Button rotate 90 degrees */
.btn-rotate-90 {
   display: inline-block;
   -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
       -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
           transform: rotate(90deg);
}

/* Button rotate 180 degrees */
.btn-rotate-180 {
   display: inline-block;
   -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
           transform: rotate(180deg);
}

/* Button rotate by 45 degree */
.btn-rotate-45 > i {
   display: inline-block;
   padding-top: 3px;
   padding-bottom: 3px;
   line-height: .9;
   background: #eee;
   -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
       -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
           transition: all .5s ease;
   transform: rotate(0deg);
}

.btn-rotate-45.collapsed > i {
   transform: rotate(225deg);
}

/* Button rotate by 45 degree */
.btn-rotate-plus > i {
   display: inline-block;
   padding-top: 3px;
   padding-bottom: 3px;
   line-height: .9;
   -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
       -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
           transition: all .5s ease;
   transform: rotate(135deg);
}

.btn-rotate-plus.collapsed > i {
   transform: rotate(0deg);
}

/* Button in navbar, show underline when element is hovered */
.text-with-underline {
   padding-top: 12px;
   padding-bottom: 7px;
   color: #eee;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 13px;
}

.text-with-underline:hover {
   color: #eee !important;
}

.hover-dark:hover {
   background: #141414;
}

@media (min-width: 992px) {
   .text-with-underline > div {
      margin-top: 2px;
      margin-left: auto;
      margin-right: auto;
      width: 0%;
      border-bottom: 1px solid var(--main-color);
      -webkit-transition: width .3s ease;
         -moz-transition: width .3s ease;
          -ms-transition: width .3s ease;
           -o-transition: width .3s ease;
              transition: width .3s ease;
   }

   .text-with-underline:hover > :last-child {
      width: 100%;
   }

   .text-with-underline.active > :last-child {
      width: 100%;
   }
}

/* Button text with X */
@media (min-width: 992px) {
   .btn-menu-x {
      height: 30px !important;
      z-index: 10;
      cursor: pointer;
      box-shadow: none;
      outline: none !important;
      padding-top: 7px;
      color: #eee;
   }

   .btn-menu-x:not(.collapsed) {
      color: #77777790 !important;
   }

   .btn-menu-x > div {
      position: relative;
      top: -4px;
   }

   .btn-menu-x:not(.collapsed) > div {
      width: 0 !important;
   }

   .btn-menu-x > span:first-of-type,
   .btn-menu-x > span:nth-of-type(2),
   .btn-menu-x > span:nth-of-type(3) {
      border-radius: 10px;
      width: 30px;
      height: 2px;
      z-index: 11;
      display: block;
      position: relative;
      margin: 0 auto;
      top: 6px;
      background: transparent;
      -webkit-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
         -moz-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
          -ms-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
           -o-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
              transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
   }

   .btn-menu-x:not(.collapsed) > span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
      background: #eee;
   }

   .btn-menu-x:not(.collapsed) > span:nth-of-type(2) {
      transform: rotate(45deg) translate(2px, 2px);
      background: #eee;
      opacity: 0;
   }

   .btn-menu-x:not(.collapsed) > span:nth-of-type(3) {
      transform: rotate(-45deg) translate(1px, -1px);
      background: #eee;
   }

   .btn-menu-x > span:nth-of-type(4) {
      position: relative;
      top: -4px;
   }
}

.btn-light-0 {
   background: #fff;
   color: #343a40;
}

.btn-light-0:disabled {
   background: #f8f9fa !important;
}

.btn-light-0:hover {
   background: #e7e8e9;
}

.btn-light-0.active {
   background: #e7e8e9;
}

.btn-gray-2 {
   color: #fff;
   background: #1d1d1d;
}

.btn-gray-2:hover {
   color: #fff;
   background: #2d2d2d;
}

.btn-hover-dark {
   background: #0d0d0d;
   color: #f8f9fa !important;
   border: 1px solid #f8f9fa;
}

.btn-hover-dark:hover {
   background: #f8f9fa;
   color: #0d0d0d !important;
   border: 1px solid #0d0d0d;
}

.btn-hover-light {
   background: #f8f9fa;
   color: #0d0d0d !important;
   border: 1px solid #0d0d0d;
}

.btn-hover-light:hover {
   background: #0d0d0d;
   color: #f8f9fa !important;
   border: 1px solid #f8f9fa;
}

.btn-ghost {
   background: #000000c0;
   color: #f8f9fa !important;
}

.btn-ghost:hover {
   background: #000000a0;
   color: #f8f9fa !important;
}

.btn-ghost-inv {
   background: #999;
   color: #000;
}

.btn-ghost-inv:hover {
   background: #ddd;
   color: #000;
}

/* Btn sidebar */
.btn-sidebar {
   padding: 7px 0 7px 24px;
   text-align: left;
   font-size: 12px;
}

.btn-sidebar > span {
   display: inline;
   text-transform: uppercase;
   font-weight: bold;
}

/* Arrows animation */
.arrows-animation {
   position: absolute;
   bottom: 220px;
   z-index: 16;
   display: inline-block;
   -webkit-transform: translate(0, -50%);
           transform: translate(0, -50%);
   color: #fff;
   font : normal 400 20px/1 'Josefin Sans', sans-serif;
   letter-spacing: .1em;
   text-decoration: none;
   -webkit-transition: opacity .3s ease;
      -moz-transition: opacity .3s ease;
       -ms-transition: opacity .3s ease;
        -o-transition: opacity .3s ease;
           transition: opacity .3s ease;
}

.arrows-animation.center {
   left: 50%;
}

.arrows-animation.right {
   right: 80px;
}

@media (min-width: 992px) {
   .arrows-animation {
      bottom: 120px;
   }
}

.arrows-animation span {
   position: absolute;
   top: 0;
   left: calc(50% - 24px);
   width: 24px;
   height: 24px;
   border-left: 1px solid #fff;
   border-bottom: 1px solid #fff;
   -webkit-transform: rotate(-45deg);
           transform: rotate(-45deg);
   -webkit-animation: sdb07 2s infinite;
           animation: sdb07 2s infinite;
   opacity: 0;
   box-sizing: border-box;
}

.arrows-animation span:nth-of-type(1) {
   -webkit-animation-delay: 0s;
           animation-delay: 0s;
}

.arrows-animation span:nth-of-type(2) {
   top: 16px;
   -webkit-animation-delay: .15s;
           animation-delay: .15s;
}

.arrows-animation span:nth-of-type(3) {
   top: 32px;
   -webkit-animation-delay: .3s;
           animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

@keyframes sdb07 {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

/* Social media text */
.text-facebook { color: #3b5998 !important; }
.text-youtube  { color: #c4302b !important; }
.text-twitter  { color: #00acee !important; }

.text-instagram i {
   background-image: radial-gradient(circle at 30% 107%,
      #030303 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285AEB 90%);
   background-size: 100%;
   -webkit-background-clip: text;
      -moz-background-clip: text;
   -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;
}

.circle-info {
   width: 15px;
   height: 16px;
   padding: 0;
   border-radius: 20px;
   font-size: 10px;
   font-weight: bold;
}

/* Button with show arrow onhover */
.btn-slide-icon {
   display: -webkit-box;                        /* OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box;           /* OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;                                   /* TWEENER - IE 10 */
   display: -webkit-flex;                                     /* NEW - Chrome */
   display: flex;                      /* NEW, Spec - Opera 12.1, Firefox 20+ */
   position: relative;
   padding-top: 6px;
   padding-bottom: 6px;
   padding-left: 30px !important;
   padding-right: 30px !important;
}

.btn-slide-icon:hover {
   padding-left: 20px !important;
   padding-right: 40px !important;
}

.btn-slide-icon > i {
   font-size: 20px;
   line-height: 1;
   position: absolute;
   right: 40px;
   color: transparent;
   -webkit-transition: right .3s ease, color .2s ease;
      -moz-transition: right .3s ease, color .2s ease;
       -ms-transition: right .3s ease, color .2s ease;
        -o-transition: right .3s ease, color .2s ease;
           transition: right .3s ease, color .2s ease;
}

.btn-slide-icon:hover > i {
   -webkit-transition: right .3s ease, color .2s ease .1s;
      -moz-transition: right .3s ease, color .2s ease .1s;
       -ms-transition: right .3s ease, color .2s ease .1s;
        -o-transition: right .3s ease, color .2s ease .1s;
           transition: right .3s ease, color .2s ease .1s;
   right: 8px;
   color: #fff;
}

.btn-slide-icon:hover > i {
   color: var(--text-theme);
}

.btn-slide-icon:hover > i.light {
   color: #f8f9fa !important;
}

.btn-slide-icon:hover > i.black {
   color: #222 !important;
}

.btn-slide-icon:hover > i.custom {
   color: var(--main-color);
}

.text-slide-color-onhover {
   font-size: 2.5rem;
   color: #bac2c9;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-image: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(50%, #fff), color-stop(50%, #bac2c9));
   background-image: linear-gradient(to right, #fff, #fff 50%, #bac2c9 50%);
   background-size: 200% 100%;
   background-position: 100%;
   -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
      -moz-transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
       -ms-transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
        -o-transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
           transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
}

.text-slide-color-onhover:hover {
   -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
      -moz-transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
       -ms-transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
        -o-transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
           transition: all 0.3s cubic-bezier(0, 0, 0.23, 1);
   background-position: 0%;
}

.pe-transition {
   padding-right: 0;
   -webkit-transition: padding-right 0.3s;
      -moz-transition: padding-right 0.3s;
       -ms-transition: padding-right 0.3s;
        -o-transition: padding-right 0.3s;
           transition: padding-right 0.3s;
   height: 94px;
   line-height: 46px;
   color: #54585c;
}

.pe-transition-container:hover .pe-transition {
   padding-right: 50px;
}

/* Buttons inside calendar */
.cal-container {
   width: 247px;
}

.cal-btn-title {
   width: 35px;
}

.cal-text {
   font-size: 12px;
}

.cal-btn {
   width: 27px;
   height: 26px;
}

.cal-btn-0 {
   background: #67b7dc;
   -webkit-box-shadow: 0 0 20px #67b7dc !important;
      -moz-box-shadow: 0 0 20px #67b7dc !important;
           box-shadow: 0 0 20px #67b7dc !important;
}

.cal-btn-1 {
   background: #6794dc;
   -webkit-box-shadow: 0 0 20px #6794dc !important;
      -moz-box-shadow: 0 0 20px #6794dc !important;
           box-shadow: 0 0 20px #6794dc !important;
}

.cal-btn-2 {
   background: #6771dc;
   -webkit-box-shadow: 0 0 20px #6771dc !important;
      -moz-box-shadow: 0 0 20px #6771dc !important;
           box-shadow: 0 0 20px #6771dc !important;
}

.cal-btn-3 {
   background: #8067dc;
   -webkit-box-shadow: 0 0 20px #8067dc !important;
      -moz-box-shadow: 0 0 20px #8067dc !important;
           box-shadow: 0 0 20px #8067dc !important;
}

.cal-btn-4 {
   background: #a367dc;
   -webkit-box-shadow: 0 0 20px #a367dc !important;
      -moz-box-shadow: 0 0 20px #a367dc !important;
           box-shadow: 0 0 20px #a367dc !important;
}

.cal-btn-5 {
   background: #c767dc;
   -webkit-box-shadow: 0 0 20px #c767dc !important;
      -moz-box-shadow: 0 0 20px #c767dc !important;
           box-shadow: 0 0 20px #c767dc !important;
}

.cal-btn-6 {
   background: #dc67ce;
   -webkit-box-shadow: 0 0 20px #dc67ce !important;
      -moz-box-shadow: 0 0 20px #dc67ce !important;
           box-shadow: 0 0 20px #dc67ce !important;
}

.cal-btn-7 {
   background: #dc67ab;
   -webkit-box-shadow: 0 0 20px #dc67ab !important;
      -moz-box-shadow: 0 0 20px #dc67ab !important;
           box-shadow: 0 0 20px #dc67ab !important;
}

.cal-btn-8 {
   background: #dc6788;
   -webkit-box-shadow: 0 0 20px #dc6788 !important;
      -moz-box-shadow: 0 0 20px #dc6788 !important;
           box-shadow: 0 0 20px #dc6788 !important;
}

.cal-btn-9 {
   background: #dc6967;
   -webkit-box-shadow: 0 0 20px #dc6967 !important;
      -moz-box-shadow: 0 0 20px #dc6967 !important;
           box-shadow: 0 0 20px #dc6967 !important;
}

.cal-btn-10 {
   background: #dc8c67;
   -webkit-box-shadow: 0 0 20px #dc8c67 !important;
      -moz-box-shadow: 0 0 20px #dc8c67 !important;
           box-shadow: 0 0 20px #dc8c67 !important;
}

.cal-btn-11 {
   background: #dcaf67;
   -webkit-box-shadow: 0 0 20px #dcaf67 !important;
      -moz-box-shadow: 0 0 20px #dcaf67 !important;
           box-shadow: 0 0 20px #dcaf67 !important;
}

.cal-btn-12 {
   background: #dcd267;
   -webkit-box-shadow: 0 0 20px #dcd267 !important;
      -moz-box-shadow: 0 0 20px #dcd267 !important;
           box-shadow: 0 0 20px #dcd267 !important;
}

.cal-btn-13 {
   background: #c3dc67;
   -webkit-box-shadow: 0 0 20px #c3dc67 !important;
      -moz-box-shadow: 0 0 20px #c3dc67 !important;
           box-shadow: 0 0 20px #c3dc67 !important;
}

.cal-btn-14 {
   background: #a0dc67;
   -webkit-box-shadow: 0 0 20px #a0dc67 !important;
      -moz-box-shadow: 0 0 20px #a0dc67 !important;
           box-shadow: 0 0 20px #a0dc67 !important;
}

.cal-btn-15 {
   background: #7ddc67;
   -webkit-box-shadow: 0 0 20px #7ddc67 !important;
      -moz-box-shadow: 0 0 20px #7ddc67 !important;
           box-shadow: 0 0 20px #7ddc67 !important;
}

.cal-btn-16 {
   background: #67dc75;
   -webkit-box-shadow: 0 0 20px #67dc75 !important;
      -moz-box-shadow: 0 0 20px #67dc75 !important;
           box-shadow: 0 0 20px #67dc75 !important;
}

.cal-btn-17 {
   background: #67dc98;
   -webkit-box-shadow: 0 0 20px #67dc98 !important;
      -moz-box-shadow: 0 0 20px #67dc98 !important;
           box-shadow: 0 0 20px #67dc98 !important;
}

.cal-btn-18 {
   background: #67dcbb;
   -webkit-box-shadow: 0 0 20px #67dcbb !important;
      -moz-box-shadow: 0 0 20px #67dcbb !important;
           box-shadow: 0 0 20px #67dcbb !important;
}

.ellipsis-vertical {
   -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
       -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
   padding-left: 8.8px !important;
   padding-right: 8.8px !important;
}

.text-hover-light {
   color: #aaa;
}

.text-hover-light:disabled {
   color: #aaa !important;
}

.text-hover-light:hover {
   color: #fff;
}

.text-hover-light.active {
   color: #fff;
}

.text-hover-dark {
   color: #666;
}

.text-hover-dark:disabled {
   color: #666 !important;
}

.text-hover-dark:hover {
   color: #000;
}

.text-hover-dark.active {
   color: #000;
}

.text-hover-danger {
   color: #ed4656;
}

.text-hover-danger:disabled {
   color: #ed4656 !important;
}

.text-hover-danger:hover {
   color: #c81222;
}

.text-hover-danger.active {
   color: #c81222;
}

.cursor-pointer {
   cursor: pointer;
}

.btn-rounded-light {
   border: 2px solid #f8f9fa;
   border-radius: 20px;
}

.zip-button {
	height: calc(100% - 14px);
}

// Circle button with animation icon inside
.circle-menu-btn {
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   border-radius: 50px;
   font-size: 15px;
   background: #000000cc;
}

.circle-menu-btn i {
   color: #ffffffb3;
   font-size: 20px;
   -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
       -ms-transition: all .2s ease;
        -o-transition: all .2s ease;
           transition: all .2s ease;
}

.circle-menu-btn:hover i {
   font-size: 26px;
}

/* Dropdown animation */
.dropdown-menu {
   max-height: 0;
   display: block;
   overflow: hidden;
   opacity: 0;
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
       -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
           transition: all 0.7s ease;
}

.dropdown-menu.show {
   max-height: 300px;
   opacity: 1;
}
