.btn {
   outline: none !important;
   -webkit-box-shadow: none !important;
           box-shadow: none !important;
   -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
       -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
           transition: all .3s ease;
}

.btn:focus {
   outline: none !important;
   -webkit-box-shadow: none !important;
           box-shadow: none !important;
}

/* Correct Bootstrap buttons */
.dropdown-nav-icon-right {
   transform: rotate(0deg);
   -webkit-transition: transform .3s ease;
      -moz-transition: transform .3s ease;
       -ms-transition: transform .3s ease;
        -o-transition: transform .3s ease;
           transition: transform .3s ease;
      
}

.right-rotate .show .dropdown-nav-icon-right {
   transform: rotate(90deg);
}

.collapse-nav-icon-right {
   -webkit-transition: transform .3s ease;
      -moz-transition: transform .3s ease;
       -ms-transition: transform .3s ease;
        -o-transition: transform .3s ease;
           transition: transform .3s ease;
   transform: rotate(0deg);
}

.right-rotate:not(.collapsed) .collapse-nav-icon-right {
   transform: rotate(90deg);
}

/* Manu button */
.btn-menu {
   z-index: 10;
   width: 60px;
   height: 40px;
   cursor: pointer;
   box-shadow: none;
   outline: none !important;
}

.btn-menu span {
   width: 80%;
   height: 2px;
   margin: 0 auto;
   display: block;
   background: #eee;
   -webkit-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
      -moz-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
       -ms-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
        -o-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
           transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}

.btn-menu span:first-of-type {
   transform: rotate(45deg) translate(2px, 2px);
}

.btn-menu span:nth-of-type(2) {
   transform: translateX(-20px);
   opacity: 0;
}

.btn-menu span:last-of-type {
   transform: rotate(-45deg) translate(1px, -1px);
}

.btn-menu.collapsed span {
   transform: none;
   opacity: 1;
   margin: 5px auto;
}

/* Button in navbar, show underline when element is hovered */
.text-with-underline {
   padding-top: 12px;
   padding-bottom: 7px;
   color: #eee;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 13px;
}

.text-with-underline:hover {
   color: #eee !important;
}

.hover-dark:hover {
   background: #141414;
}

@media (min-width: 992px) {
   .text-with-underline > div {
      margin-top: 2px;
      margin-left: auto;
      margin-right: auto;
      width: 0%;
      border-bottom: 1px solid var(--main-color);
      -webkit-transition: width .3s ease;
         -moz-transition: width .3s ease;
          -ms-transition: width .3s ease;
           -o-transition: width .3s ease;
              transition: width .3s ease;
   }

   .text-with-underline:hover > :last-child {
      width: 100%;
   }

   .text-with-underline.active > :last-child {
      width: 100%;
   }
}

/* Button text with X */
@media (min-width: 992px) {
   .btn-menu-x {
      height: 30px !important;
      z-index: 10;
      cursor: pointer;
      box-shadow: none;
      outline: none !important;
      padding-top: 7px;
      color: #eee;
   }

   .btn-menu-x:not(.collapsed) {
      color: #77777790 !important;
   }

   .btn-menu-x > div {
      position: relative;
      top: -4px;
   }

   .btn-menu-x:not(.collapsed) > div {
      width: 0 !important;
   }

   .btn-menu-x > span:first-of-type,
   .btn-menu-x > span:nth-of-type(2),
   .btn-menu-x > span:nth-of-type(3) {
      border-radius: 10px;
      width: 30px;
      height: 2px;
      z-index: 11;
      display: block;
      position: relative;
      margin: 0 auto;
      top: 6px;
      background: transparent;
      -webkit-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
         -moz-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
          -ms-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
           -o-transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
              transition: all 0.5s cubic-bezier(0.810, -0.330, 0.345, 1.375);
   }

   .btn-menu-x:not(.collapsed) > span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
      background: #eee;
   }

   .btn-menu-x:not(.collapsed) > span:nth-of-type(2) {
      transform: rotate(45deg) translate(2px, 2px);
      background: #eee;
      opacity: 0;
   }

   .btn-menu-x:not(.collapsed) > span:nth-of-type(3) {
      transform: rotate(-45deg) translate(1px, -1px);
      background: #eee;
   }

   .btn-menu-x > span:nth-of-type(4) {
      position: relative;
      top: -4px;
   }
}

/* Dropdown animation */
.dropdown-menu {
   max-height: 0;
   display: block;
   overflow: hidden;
   opacity: 0;
   -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
       -ms-transition: all 0.7s ease;
        -o-transition: all 0.7s ease;
           transition: all 0.7s ease;
}

.dropdown-menu.show {
   max-height: 300px;
   opacity: 1;
}
