:root {
  // 9literfilmy
  --main-color: #e0a117;
  --main-rgba: 224, 161, 23;
  --main-color-light: #f2c339;
  --main-color-dark: #c08005;

  // // Dark
  // --main-color: #0d0d0d;
  // --main-rgba: 249, 250, 251;
  // --main-color-light: #213131;
  // --main-color-dark: #000;

  // // Light
  // --main-color: #f8f9fa;
  // --main-rgba: 249, 250, 251;
  // --main-color-light: #ffffff;
  // --main-color-dark: #d8d8e8;

  // // Psphoto
  // --main-color: #03c4eb;
  // --main-rgba: 3, 196, 235;
  // --main-color-light: #00b0d7;
  // --main-color-dark: #0091b8;

  // // Silesia group
  // --main-color: #0d0d0d;
  // --main-rgba: 249, 250, 251;
  // --main-color-light: #213131;
  // --main-color-dark: #000;

  // // Young Fresh Cinema
  // --main-color: #03c4eb;
  // --main-rgba: 3, 196, 235;
  // --main-color-light: #00b0d7;
  // --main-color-dark: #0091b8;
}
