/* Custom inputs */
.form-control-custom {
	height: 25px !important;
	border: none;
	outline: none;
	box-shadow: none;
	border-radius: 0;
	background: #00000000 !important;
	font-weight: 500;
	border-bottom: 2px solid #999;
	font-size: 1rem;
	line-height: 1.5;
}

.form-control-custom:focus {
	box-shadow: none;
	background: #00000000 !important;
}

.form-control-custom:-webkit-autofill,
.form-control-custom:-webkit-autofill:hover, 
.form-control-custom:-webkit-autofill:focus, 
.form-control-custom:-webkit-autofill:active  {
	background: #00000000 !important;
    -webkit-transition: all 5000s ease-in-out;
       -moz-transition: all 5000s ease-in-out;
        -ms-transition: all 5000s ease-in-out;
         -o-transition: all 5000s ease-in-out;
            transition: all 5000s ease-in-out;
}

.form-control-custom::-webkit-input-placeholder { color: #999; }
.form-control-custom:-ms-input-placeholder {      color: #999; }
.form-control-custom::placeholder {               color: #999; }

.form-label-custom {
	color: #999;
}

.form-control-custom-select {
	height: 40px !important;
	cursor: pointer;
}

/* Show label when focus and typing */
.form-group-custom {
	position: relative;
	display: inline-block;
}

.form-group-custom label {
	position: absolute;
	left: 0;
	top: 27px;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
	cursor: text;
	font-size: .9rem;
	line-height: 1.5;
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
		 -o-user-select: none;
			user-select: none;
}

.form-group-custom > textarea {
	min-height: 160px;
	outline: none;
	box-shadow: none !important;
	border: 2px solid #999 !important;
	font-size: 1rem;
	line-height: 1.5;
}

.form-group-custom > input,
.form-group-custom > textarea {
    -webkit-transition: border-color .5s ease;
       -moz-transition: border-color .5s ease;
        -ms-transition: border-color .5s ease;
         -o-transition: border-color .5s ease;
            transition: border-color .5s ease;
}

.form-group-custom > input:focus {
	border-color: var(--main-color);
}

.form-group-custom > input:not(:placeholder-shown) + label,
.form-group-custom > input:focus + label {
	top: -3px;
}

.form-group-custom > textarea:focus {
	border-color: var(--main-color) !important;
}

.form-group-custom > textarea:not(:placeholder-shown) + label,
.form-group-custom > textarea:focus + label {
	top: -13px;
}

.form-control-short {
	width: 60px;
}

.form-group-custom .btn-group {
	position: absolute;
	right: 0;
	bottom: 2px;
	border: 0;
	padding: 6px 8px;
}
