@import url(https://fonts.googleapis.com/css?family=Nunito);
html, body {
	padding-right: 0 !important;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: auto;
	position: relative;
}

/* Prevent select text and others */
.prevent-user-select {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}
