.text-middle-absolute {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.text-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.text-h5 {
  font-size: 1.25rem;
}

.text-custom {
  color: $main-color !important;
}

.text-theme {
  color: var(--text-theme) !important;
}

.text-theme-inv {
  color: var(--text-theme-inv);
}

.text-theme-1 {
  color: var(--text-theme-1) !important;
}

.text-theme-1-disable {
  color: var(--text-theme-1-disable) !important;
}

// Text hover theme
.text-hover-theme {
  color: var(--text-hover-before);
}

.text-hover-theme:disabled {
  color: var(--text-hover-before) !important;
}

.text-hover-theme:hover {
  color: var(--text-hover-after);
}

.text-hover-theme.active {
  color: var(--text-hover-after);
}

.text-hover-custom {
  color: $main-color;
}

.text-hover-custom:disabled {
  color: $main-color !important;
}

.text-hover-custom:hover {
  color: $main-color-dark;
}

.text-hover-custom.active {
  color: $main-color-dark;
}

.text-hover-danger {
  color: #ed4656;
}

.text-hover-danger:disabled {
  color: #ed4656 !important;
}

.text-hover-danger:hover {
  color: #c81222;
}

.text-hover-danger.active {
  color: #c81222;
}

.text-light-important {
  color: #eee !important;
}

.text-black {
  color: #0d0d0d;
}

.text-error {
  color: #ff3040 !important;
}

// Text hover
.text-hover-light {
  color: #aaa;
}

.text-hover-light:disabled {
  color: #aaa !important;
}

.text-hover-light:hover {
  color: #fff;
}

.text-hover-light.active {
  color: #fff;
}

.text-huge-2 {
  font-size: 80px;
}

.title-with-x-btn {
  width: calc(100% - 60px);
  padding-left: 60px;
}

.text-shadow-dark {
  text-shadow: -.7px 0 #80808060,
                0 .7px #80808060,
                .7px 0 #80808060,
               0 -.7px #80808060;
}

/* Social media text */
.text-facebook { color: #3b5998 !important; }
.text-youtube  { color: #c4302b !important; }
.text-twitter  { color: #00acee !important; }

.text-instagram i {
   background-image: radial-gradient(circle at 30% 107%,
      #030303 0%,
      #fdf497 5%,
      #fd5949 45%,
      #d6249f 60%,
      #285AEB 90%);
   background-size: 100%;
   -webkit-background-clip: text;
      -moz-background-clip: text;
   -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent;
}

.text-without-underline {
  text-decoration: none;
}
