.text-middle-absolute {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.text-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.text-theme {
  color: var(--text-theme) !important;
}

.text-hover-theme {
  color: var(--text-hover-before);
}

.text-hover-theme:disabled {
  color: var(--text-hover-before) !important;
}

.text-hover-theme:hover {
  color: var(--text-hover-after);
}

.text-hover-theme.active {
  color: var(--text-hover-after);
}

.text-light-important {
  color: #eee !important;
}

.text-black {
  color: #0d0d0d;
}

.text-error {
  color: #ff3040 !important;
}

// Text hover
.text-hover-light {
  color: #aaa;
}

.text-hover-light:disabled {
  color: #aaa !important;
}

.text-hover-light:hover {
  color: #fff;
}

.text-hover-light.active {
  color: #fff;
}

.text-huge-2 {
  font-size: 80px;
}
