:root {
  --bg-theme: #ffffff;
  --bg-theme-1: #f4f4f4;
  --bg-theme-2: #e9e9e9;
  --text-theme: #0d0d0d;
  --text-theme-1: #343A40;
}

[data-theme='dark'] {
  --bg-theme: #0d0d0d;
  --bg-theme-1: #020202;
  --bg-theme-2: #181818;
  --text-theme: #f8f9fa;
  --text-theme-1: #a3a4a5;
}
