.login-main,
.newsletter-main {
	background: linear-gradient(
			rgba(0, 0, 0, 0.3),
			rgba(0, 0, 0, 0.5)
		),
		url("../../../public/images/9literfilmy/OnEn1xMQ.jpeg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.login-main > div,
.newsletter-main > div {
	padding-top: 100px;
	padding-bottom: 100px;
}

.login-main > .form,
.newsletter-main > .form {
	max-width: 700px;
}

@media (max-height: 549px) {
	.login-main,
	.newsletter-main {
		min-height: 100vh;
	}
}

@media (min-height: 550px) {
	html, body, .login-main,
	html, body, .newsletter-main {
		height: 100vh;
	}

  .login-main > .form,
	.newsletter-main > .form {
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-50%);
		   	-ms-transform: translateY(-50%);
				    transform: translateY(-50%);
	}
}
