/* Main navbar */
$navbar-shadow: transparent;

.Navbar-fixed {
  width: 100%;
  z-index: 1050;
  position: fixed;
  top: 0;
  flex-flow: wrap !important;
  -webkit-transition: top .4s ease, background-color .5s ease, box-shadow .5s;
     -moz-transition: top .4s ease, background-color .5s ease, box-shadow .5s;
      -ms-transition: top .4s ease, background-color .5s ease, box-shadow .5s;
       -o-transition: top .4s ease, background-color .5s ease, box-shadow .5s;
          transition: top .4s ease, background-color .5s ease, box-shadow .5s;
  -webkit-box-shadow: 0 3px 10px 1px $navbar-shadow;
     -moz-box-shadow: 0 3px 10px 1px $navbar-shadow;
          box-shadow: 0 3px 10px 1px $navbar-shadow;
}

.Navbar-fixed.up,
.Navbar-fixed.hide {
  top: -95px;
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #0d0d0d;
  }

  .navbar-collapse.collapse.show {
    height: 100vh;
    flex-shrink: 0;
    overflow-y: auto;
  }

  .navbar-nav {
    height: 100vh;
  }
}

.collapsing {
  -webkit-transition: height 0.5s ease;
     -moz-transition: height 0.5s ease;
      -ms-transition: height 0.5s ease;
       -o-transition: height 0.5s ease;
          transition: height 0.5s ease;
}

.div-under-navbar {
  width: 100%;
  height: 83px;
}

/* Preloader */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff url("../../../public/images/preloader.svg") no-repeat center center;
  z-index: 10000;
  opacity: 1;
  visibility: visible;
  -webkit-transition: visibility 0s ease .7s, opacity .7s ease 0s !important;
     -moz-transition: visibility 0s ease .7s, opacity .7s ease 0s !important;
      -ms-transition: visibility 0s ease .7s, opacity .7s ease 0s !important;
       -o-transition: visibility 0s ease .7s, opacity .7s ease 0s !important;
          transition: visibility 0s ease .7s, opacity .7s ease 0s !important;
}

.preloader.hide {
  opacity: 0;
  visibility: hidden;
}

/* Logo */
.logo-img {
  padding: 0;
  margin-top: -15px;
  max-height: 80px;
}

/* Desktop navbar collapse */
.fullscreen-menu-collapse {
  z-index: 1040;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.fullscreen-menu-collapse.collapse.show {
  height: 100vh;
  flex-shrink: 0;
  overflow-y: auto;
}

.fullscreen-menu-collapse > div {
  min-height: 100vh;
}

.fullscreen-menu-collapse.show html {
  overflow: hidden !important;
}

.nav-background {
  padding-top: 58px;
  padding-bottom: 58px;
  background-image: linear-gradient(#00000080, #00000080);
}
